body {
    background-color: rgb(36, 23, 19);
    text-align: center;
    color: bisque;
    font: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    margin: 0 auto;
    text-align: center
}

#bolso {
    margin-top: 7%; 
    max-width: 50%;
}
